<div style="display: flex;justify-content: center;height: 100vh;align-items: center;">
  <%= form_for :bucket do |f| %>
    <div style="display: flex; flex-direction: column; justify-content: space-between; height: 20vh;">
      <div>Select multiple files in file browser</div>
      <div>
        <%= f.file_field :files, multiple: true %>
      </div>
      <div>
        <button id="uploadBtn" type="button">Upload</button>
        <%= link_to "List", uploads_path %>
      </div>
    </div>
    <div id="flash" style="height: 200px; margin-top: 20px"></div>
  <% end %>
</div>

<script>
  const btn = document.getElementById('uploadBtn');
  const input = document.getElementById('bucket_files');
  const flash = document.getElementById('flash');

  async function upload(file) {
    const data = new FormData();
    data.append('authenticity_token', "<%= form_authenticity_token %>")
    data.append('file', file);

    return await fetch("<%= upload_bucket_path %>", {
      method: 'PUT',
      body: data
    })
  }

  btn.addEventListener('click', async () => {
    const files = Array.from(input.files);

    for (const [index, file] of files.entries()) {
      flash.innerHTML = `processing ${index + 1} out of ${input.files.length}`
      await upload(file);
    }

    window.location = "<%= uploads_path %>"
  });
</script>
